#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_div{
    border: 1px;
    border-color: aqua;
    float: none;
}
.travel_div img{
    width: 100%;
}
.movie_head{
    width: 100%;
    display: inline-block;
    margin: 15px;
}
.movie_head i{
    float: right;
}
.envi-li{
    margin-top: 15px;
}
envi-li p{
    margin-top: 15px;
}
envi-li h3{
    border-bottom: 2px solid white;
}
